name: Test

on: [pull_request]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6-beta
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22
          cache: 'pnpm'
      - name: prepare
        run: |
          pnpm i
          pnpm --filter=@yamatomo/playwright exec playwright install --with-deps
      - run: pnpm lint
      - run: pnpm typecheck
      - run: pnpm test
